$primary: white;
$primary-text: #000000;
$secondary: black;
$secondary-text: #ffffff;

.cover {
    padding-left: 10px;
}

.cover-top {
    background-color: $primary;
    height: 50vh;
    color: $primary-text;
    .name {
        padding-top: 45vh;
    }
}

.cover-bottom {
    background-color: $secondary;
    height: 50vh;
    color: $secondary-text;
}

.myfab {
    position: absolute;
    top: 85vh;
    left: 80vw;
    z-index: 5;
}

a {
    color: black;
  }
