<!--The content below is only a placeholder and can be replaced.-->
<div class="cover cover-top">
  <h1 class="name mat-display-1">
    Emmanuel J. Reyme
  </h1>
</div>
<div class="cover cover-bottom">
  <h1 class="title mat-headline">
    Software Developer
  </h1>
</div>

<eco-fab-speed-dial class="myfab" #myFab [direction]="direction" [animationMode]="animationMode" [fixed]="fixed" (mouseenter)="myFab.open = true"
  (mouseleave)="myFab.open = false">

  <eco-fab-speed-dial-trigger [spin]="spin">
    <button mat-fab (click)="doAction('trigger')">
      <mat-icon class="spin360">menu</mat-icon>
    </button>
  </eco-fab-speed-dial-trigger>

  <eco-fab-speed-dial-actions>
    <button mat-mini-fab>
        <a href="{{linkedInLink}}"><fa-icon [icon]="['fab', 'linkedin']"></fa-icon></a>
    </button>
    <button mat-mini-fab>
        <a href="{{twitterLink}}"><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
    </button>
    <button mat-mini-fab>
        <a href="{{githubLink}}"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
    </button>
  </eco-fab-speed-dial-actions>

</eco-fab-speed-dial>